.p-Home.Flex10 {
display: flex;
align-items: center;
justify-content: space-between;
align-self: center;
margin-top: 30px;
}
.p-Home.1 {
display: flex;
flex-direction: row;
column-gap: 15px;
}
.p-Home.2 {
display: flex;
column-gap: 20px;
}
.p-Home.3 {
display: flex;
align-content: stretch;
flex-direction: row;
}
.p-Home.4 {
display: flex;
column-gap: 20px;
}
.p-Home.TextBox2 {
align-self: center;
width: ;
word-wrap: normal;
text-align: center;
box-sizing: border-box;
height: ;
font-size: 25px;
}
.p-Home.home {
color: #545251ff;
background-color: #fdfdfdff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #ffffffff;
cursor: pointer;
user-select: none;
align-self: center;
}
.p-Home.About {
color: #545251ff;
background-color: #fbfbfbff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
align-self: center;
}
.p-Home.Button8 {
color: #545251ff;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
align-self: center;
word-wrap: normal;
}
.p-Home.Button9 {
color: #545251ff;
background-color: #f5faff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
align-self: center;
}
.p-Home.Button10 {
color: #545251ff;
background-color: #f9fbfcff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
align-self: center;
}
.p-Home.Button11 {
color: #fff;
background-color: #ff7c00;
padding-top: 9px;
padding-left: 20px;
padding-bottom: 9px;
padding-right: 20px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
align-self: center;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}
.p-Home.Button12 {
color: #130202;
background-color: #ffffff;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #545454;
cursor: pointer;
user-select: none;
border-top-left-radius: 18px;
border-top-right-radius: 18px;
border-bottom-left-radius: 18px;
border-bottom-right-radius: 18px;
margin-bottom: 0px;
}
